.rowInfo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    & .title {
        margin: 0;
        font-size: 20px;
    }

    & .subtitle {
        margin: 0 0 0 15px;
        font-size: 18px;
    }
}